.w-35 {
    width: 35%;
}

.border-solid-2 {
    border: 2px solid black;
}

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

#map {
    width: 100%;
    height: 400px;
    background: grey;
}

.text-shadow-h1 {
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.402);
}

.bg-grey {
    --bs-bg-opacity: 0.15;
    --bs-grey-rgb: 116, 116, 117;
    /* Update the RGB values to the desired grey color */
    background-color: rgba(var(--bs-grey-rgb), var(--bs-bg-opacity)) !important;
}